<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1></h1>
        <div id="app">
            <ul>
                <li v-for="(menber,index) in menbers">
                    {{index+1}} : {{menber.name}}
                    <span v-if="menber.gender=='Female'"><--這位是女孩</span>
                    <span v-else-if="menber.gender=='Male'"><--這位是男孩</span>
                    <span v-else><--性別未登記</span>
                </li>
                <!-- <li>{{names[1]}}</li> -->
                <!-- <li>{{names[2]}}</li> -->
            </ul>
                    
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="main.js"></script>
    </body>
</html>